<section data-ng-controller="RecipesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="recipe.title"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == recipe.owner._id">
        <a class="btn btn-primary" href="/#!/articles/{{recipe._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="recipe.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="recipe.owner.displayName"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="recipe.content"></p>
</section>
